<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/ojdbc8.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.oracle.10.driverTemplate">
      </driverTemplateOverride>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/sqljdbc.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverTemplate">
      </driverTemplateOverride>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/db2jcc.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.ibm.db2.luw.driverTemplate">
      </driverTemplateOverride>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/mysql.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.mysql.4_1.driverTemplate">
      </driverTemplateOverride>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/mysql.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.mysql.4_0.driverTemplate">
      </driverTemplateOverride>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/mysql.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.mysql.5_0.driverTemplate">
      </driverTemplateOverride>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/mysql.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.mysql.5_1.driverTemplate">
      </driverTemplateOverride>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/postgresql-9.3-1102.jdbc4.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.postgresql.postgresqlDriverTemplate">
      </driverTemplateOverride>
   </extension>
      <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplateOverride
            jarList="[%PLUGIN_LOC%]/lib/ojdbc8.jar"
            priority="1"
            targetId="org.eclipse.datatools.enablement.oracle.11.driverTemplate">
      </driverTemplateOverride>
   </extension>

</plugin>
