<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="业务模型编辑器"
            default="true"
            extensions="bom"
            icon="resource/icons/mdd.png"
            contributorClass="com.mqfdy.code.designer.editor.BusinessModelEditorContributor"
            class="com.mqfdy.code.designer.editor.BusinessModelEditor"
            id="com.mqfdy.code.designer.editor.MultiPageEditor">
            <contentTypeBinding
               contentTypeId="com.mqfdy.code.designer.editor.MultiPageEditor.contentType.bom">
        	</contentTypeBinding>
      </editor>
   </extension>
   <extension
       	point="org.eclipse.core.contenttype.contentTypes">
		<content-type 
				id="com.mqfdy.code.designer.editor.MultiPageEditor.contentType.bom"
				name="Business Object Model"
				base-type="org.eclipse.core.runtime.xml"
				file-extensions="bom">
			<property name="charset" default="UTF-8"/>
		</content-type>
   </extension>
   <!-- 
       	扩展-用于获取自定义的propertySource 
       	-->
    <extension  
      point="org.eclipse.core.runtime.adapters">
	   <factory 
	         adaptableType="com.mqfdy.code.model.AbstractModelElement"  
	         class="com.mqfdy.code.designer.views.properties.BusinessPropertiesAdapterFactory">   
	      <adapter   
	            type="org.eclipse.ui.views.properties.IPropertySourceProvider">   
	      </adapter>   
	   </factory> 
	   <factory 
	         adaptableType="com.mqfdy.code.designer.editor.part.extensions.BusinessAbstractGraphicalEditPart"  
	         class="com.mqfdy.code.designer.views.properties.BusinessPropertiesAdapterFactory">   
	      <adapter   
	            type="org.eclipse.ui.views.properties.IPropertySourceProvider">   
	      </adapter>   
	   </factory>   
	</extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mqfdy.code.designer.preferences.ModelPreferencePage"
            id="com.mqfdy.code.designer.preferences.ModelPreferencePage"
            name="模型驱动配置">
      </page>
   </extension> 
   <extension
          point="org.eclipse.ui.newWizards">
      <category
            id="com.mqfdy.code.category"
            name="代码生成">
      </category>
       <wizard
             category="com.mqfdy.code.category"
             class="com.mqfdy.code.designer.wizards.MicroObjectModelNewWizard"
             icon="resource/icons/mdd.png"
             id="com.mqfdy.code.designer.wizards.ObjectModelNewWizard"
             name="业务对象模型(*.bom)">
       </wizard>
       <wizard
             category="com.mqfdy.code.category"
             class="com.mqfdy.code.reverse.views.pages.ReverseWizard"
             icon="resource/icons/mdd_reverse.gif"
             id="com.mqfdy.code.designer.reversewizard"
             name="数据库反向建模(*.bom)">
       </wizard>
       <wizard
             category="com.mqfdy.code.category"
             class="com.mqfdy.code.wizard.wizard.MicroGeneratorWizard"
             icon="resource/icons/app_scene.gif"
             id="com.mqfdy.code.generator"
             name="生成代码向导">
      </wizard>
       <wizard
             category="com.mqfdy.code.category"
             class="com.mqfdy.code.thirdparty.wizard.ThirdPartyWizard"
             icon="resource/icons/openRepos.gif"
             id="com.mqfdy.code.thirdparty.wizard.ThirdPartyWizard"
             name="pdm文件导入(*.pdm)">
       </wizard>  
   </extension>
    
   <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="com.sgcc.uap.ide.core.ui.dev.perspective">
          <newWizardShortcut
                id="com.mqfdy.code.designer.wizards.ObjectModelNewWizard">
          </newWizardShortcut>
       </perspectiveExtension>
   </extension>

    <extension
          point="org.eclipse.ui.console.consoleFactories">
       <consoleFactory
             class="com.mqfdy.code.designer.console.ConsoleFactory"
             icon="resource/icons/diagram.gif"
             label="模型驱动">
       </consoleFactory>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             class="com.mqfdy.code.designer.views.valiresult.ValiView"
             icon="resource/icons/tick.gif"
             id="com.mqfdy.code.designer.views.valiresult.ValiView"
             name="模型驱动"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
           <initializer
            class="com.mqfdy.code.designer.preferences.PreferenceInitializer">
      </initializer>
          
    </extension>
</plugin>
